<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643072121564-r0lqg5rfea27sfv3pfv1srp4tihlmf5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643072121564-r0lqg5rfea27sfv3pfv1srp4tihlmf5l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>643072121564-3q2sbmfgqhadl05d5dn03epv9ocodr94.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDI66iERPxDZgXgLUce1i5b_TFcQJNAQ84</string>
	<key>GCM_SENDER_ID</key>
	<string>643072121564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flui</string>
	<key>PROJECT_ID</key>
	<string>trabajogrado-77f48</string>
	<key>STORAGE_BUCKET</key>
	<string>trabajogrado-77f48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643072121564:ios:14572f8e3fe8286fc6f219</string>
</dict>
</plist>